annotated-types
cachetools
celery
concurrent-log-handler
cos-python-sdk-v5
dashscope
distro
doctran
dotenv
email-validator
eventlet
faiss-cpu
gevent
injector
jiter
langchain-cohere
langchain-deepseek
langchain-experimental
langchain-huggingface
langchain-ollama
langchain-pinecone
langgraph
lark
markdown
openpyxl
pandas
pip-tools
pipreqs
psycopg2
pyjwt
pyopenssl
python-docx
python-magic-bin
python-pptx
pydantic
qianfan
rank-bm25
redis
tcvdb-text
tinycss2
ujson
umap
unstructured
